*,
*::before,
*::after {
  box-sizing: border-box;
}
/*палитра цветов*/
/*главный фон #E5E5E5*/
/*второстепенный фон #F5F4FA*/
/*фон футерa #2F303A*/
/*основной для шрифта #212121*/
/*второстепенный для шрифта #757575*/
/*акцент rgba(33, 150, 243, 1)*/
/*черный и белый для выделения текста #000000 #FFFFFF*/
/*контакты в футуре  rgba(255, 255, 255, 0.6)*/
/*нижний бордер в хедере rgba(236, 236, 236, 1)*/
:root {
  --main-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(245, 244, 250, 1);
  --footer-background-color: #2f303a;
  --main-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --header-stroke: rgba(236, 236, 236, 1);
  --hero-backgroumd: rgba(196, 196, 196, 1);
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --icon-color: rgba(175, 177, 184, 1);
  --icon-background: rgba(255, 255, 255, 0.1);
  --card-border: rgba(238, 238, 238, 1);
  --label-background: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
  --card-overlay: rgba(33, 150, 243, 0.9);
}
/*общие стили*/
body {
  margin: 0px;

  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/*хедер*/
.site-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/*лого*/
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-part-black {
  color: var(--main-text-color);
}
/*главная навигация*/
.main-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.main-nav .link,
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.main-nav .item + .item {
  margin-left: 50px;
}
.main-nav a {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav a:hover,
.main-nav a:focus {
  color: var(--accent-color);
}
.main-nav .current {
  position: relative;
  color: var(--accent-color);
}
.main-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/*линки*/

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.contacts .link {
  display: flex;
  align-items: center;
}
.contacts-icon {
  padding: 0px;
  margin-right: 10px;
  fill: currentColor;
}

/*Страница студия*/
/*герой*/
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-background-color);
  letter-spacing: 0.06em;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-backgroumd);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 0 20px;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-button {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0px solid transparent;
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
/*общие для секций*/
.section {
  padding: 94px 0px;
}
/*преимущества*/
.advantages {
  display: flex;
}
.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--secondary-background-color);
}
.advantages .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.advantages .item:nth-child(4n) {
  margin-right: 0;
}
.advantages-title {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  margin-top: 10px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*работа и команда*/
.work {
  padding-top: 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-example {
  display: flex;
  margin-top: 50px;
}
.work-example .item {
  position: relative;
  display: flex;
  justify-content: center;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.work-example .item:nth-child(3n) {
  margin-right: 0;
}
.item-image {
  display: block;
}
.work-example .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: var(--label-background);
}
.lable-text {
  position: absolute;
  bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}
/*команда*/
.our-team {
  background-color: var(--secondary-background-color);
}
.team {
  display: flex;
  margin-top: 50px;
}
.team .human {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.team .human:nth-child(4n) {
  margin-right: 0;
}
.human {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.specialists {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.professions {
  margin-top: 10px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 16px 32px 30px;
}
.socials-background {
  display: block;
  padding: 12px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--icon-background);
  color: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-background:nth-child(4n) {
  margin-right: 0;
}
.socials-background:hover,
.socials-background:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.socials-icon {
  fill: currentColor;
}
/*постоянные клиенты*/
.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-background:hover,
.clients-background:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients .item {
  margin-right: 30px;
}
.clients .item:nth-child(6n) {
  margin-right: 0;
}
.clients-logo {
  fill: currentColor;
}
/*страница портфолио*/
/*хедер*/
.header-stroke {
  border-bottom: 1px solid var(--header-stroke);
}
/*скрытый заголовок*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*радиокнопки*/
.radio {
  display: flex;
  justify-content: center;
}
.radio-buttons {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio .item {
  margin-right: 8px;
}
.radio .item:nth-child(5n) {
  margin-right: 0;
}
.radio-buttons:hover,
.radio-buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--accent-color);
  color: var(--main-background-color);
}
/*карточки*/
.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards-h-f {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-h-f:hover,
.cards-h-f:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card .item:nth-child(3n) {
  margin-right: 0;
}
.card .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-image {
  display: block;
}
.card-foto {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: var(--card-overlay);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-h-f:hover .card-overlay,
.cards-h-f:focus .card-overlay {
  transform: translateY(-100%);
}
.card-overlay-text {
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-background-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.cards-h-f:hover .card-overlay-text,
.cards-h-f:focus .card-overlay-text {
  opacity: 1;
}
.card-text {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: 0px;
}
.cards-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.cards-description {
  margin-top: 4px;

  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
}
/*подвал*/
.footer {
  padding: 60px 0px;

  background-color: var(--footer-background-color);
}
.contact-us {
  display: flex;
  align-items: baseline;
}
.contact-us-address {
  margin-right: 70px;
}
.logo-part-white {
  color: var(--main-background-color);
}
.address {
  color: var(--main-background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.city {
  margin-top: 20px;
}
.address a {
  color: var(--footer-contacts);
}
.address li {
  margin-top: 9px;
}
/*присоединяйтесь*/
.join {
  justify-content: center;
}
.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.join-socials {
  padding: 0px;
  margin-top: 20px;
}
.socials-white {
  color: var(--main-background-color);
}
/*.join-form {
  margin-left: 215px;
}*/
.join-button {
  padding: 10px 0px;
  min-width: 200px;
  border: 0px solid transparent;
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/*модалка*/
.backdrop {
  position: fixed;

  inset: 0;

  background-color: var(--backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 8px;

  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  border-radius: 50%;
  cursor: pointer;
}
